<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatK</title>
    <link rel="stylesheet" href="./sidebars/sidebar.css">
    <link rel="stylesheet" href="./sidebars/navbar.css">
    <link rel="stylesheet" href="./bootstrap-icons-1.10.5/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="./img/chat.png" type="image/x-icon">
</head>
<body>
    <div class="container">

        <!-- Friends side bar -->

        <div class="sidebar">
            <div class="pic">
                <a class="profile" href="#"> <img src="./img/avatar.png" alt=""></a>
                <a href="/logout" id="edit">
                  <% if(users != ''){%>
                    <% users.forEach(function(user) { %>
                      <% if(user.email == fromDatas){%>
                       <p><%= user.name%></p>
                       <p>Logout</p>
                      <%}%>
                    <% })%>
                  <% }%> 
                </a>
            </div>
            <p id="friend">Friends</p>
            <div class="friends">
              <%  if(users == ''){%>
                No users found
              <% }%>
              <% if(users != ''){%>
                <% users.forEach(function(user) { %>
                  <% if(user.email == fromDatas){%>
                   
                  <%}%>
                  <% if(user.email != fromDatas){%>
                      <% if(user.email == to){%>
                        <a href="/user?name=<%= user.email%>" class="active">
                          <p class="imgs" href="#"> <img src="./img/avatar.png" alt=""></p>
                          <p id="one"><%= user.name%></p>
                      </a> 
                      <%}%>
                      <% if(user.email != to){%>
                        <a href="/user?name=<%= user.email%>">
                          <p class="imgs" href="#"> <img src="./img/avatar.png" alt=""></p>
                          <p id="one"><%= user.name%></p>
                      </a> 
                      <%}%>
                    <%}%>
                <% })%>
              <% }%>                            
            </div>
        </div>

        <!-- The main section content -->

        <div class="contents">
            <nav>
              <%  if(users == ''){%>
                No users found
              <% }%>
              <% if(users != ''){%>
                <% users.forEach(function(user) { %>
                      <% if(user.email == to){%>
                        <p class="imgss"> 
                          <img src="./img/avatar.png" alt="">
                      </p>
                      <% if( user.status == 1){%>
                        <p>
                          Online
                      </p>
                      <% }%>
                      <% if( user.status != 1){%>
                        <p>
                          Offline
                      </p>
                      <% }%>
                      <%}%>
                      <% if(user.email != to){%>
                        <% }%>
                <% })%> 
                <% }%>
                <ul>
                  <li><a href=""><i class="bi-chat-right-text-fill"></i></a></li>
                  <li><a href=""><i class="bi-bell"></i></a></li>
                </ul>
            </nav>
            <div class="chatBox">
                <div class="chat-container">
                    <% if(datas[0] == undefined){ %>      
                        <%}%>
                    <% if(datas[0] != undefined){ %>
                        <% getDatas(datas,fromDatas) %>
                         <% function getDatas(datas,fromDatas){ %>
                        <% datas.forEach(function(data) { %>
                    <% if(fromDatas == data.from) {%>   
                      <div class="to">
                        <span class="chat-text"><%= data.message %></span>
                        <span class="chat-time"><%= data.created %></span>
                    </div>                   
                    <% }%>    
                    <% if(fromDatas != data.from) {%>   

                    <div class="from">
                      <span class="chat-text"><%= data.message %></span>
                      <span class="chat-time"><%= data.created%></span>
                  </div>
                    <% }%>  
                    <% })%>  
                    <% }%>
                    <% }%>
                </div>
                    <form action="/send" method="POST">
                        <input type="text" name="message" placeholder="Message ...">
                        <button type="submit"><i class="bi-send"></i></button>
                    </form>
            </div>
        </div>
    </div>
</body>
</html>


